* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }

body{
    height: 100%;
    width: 100%;
}

header {
  background: rgba(0,0,0,0.9);
  width: 100%;
  position: fixed;
  z-index: 100;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav ul li {
    font-family: 'Fredoka One', cursive;
    font-size: 1.25em;
    list-style: none;
    cursor: pointer;
}

nav ul li a {
  display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
  padding: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  color: #fff;
  text-decoration: none;
}

nav ul li:hover {
  background: rgb(54, 51, 255);
}

#Hero {

    display: block;
    background: rgb(54, 51, 255);
    width: 100%;
    height: 100vh;
}

#AboutMe {
    display: flex;
    background:	#99aab5;
    width: 100%;
    height: 100vh;
    justify-content: initial;
    flex-direction: column;
    padding-bottom: 64px;   
    font-family: 'Raleway', sans-serif;
}

#AboutMe h1{
    color: #000000; 
    font-size: 5em;
    padding-bottom: 150px;
}

#AboutMe div ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

#AboutMe img{
    padding-top: 4em;
    width: 300px;
    height: 300px;
    object-fit: contain;
}

#AboutMe .listasParalelas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#AboutMe .listasParalelas ul{
    list-style-type: circle;
}

#AboutMe h2{
    font-size: 3em;
}

#AboutMe h6{
    font-size: 1.5em;
}


#Experience {
    display: flex;
    background:	#99aab5;
    width: 100%;
    height: 100vh;
    justify-content: space-evenly;
    padding-bottom: 64px;
}

#Experience ul{
    align-items: center;
    padding: 1em;
    display: flex;
    flex-direction: column;
    color: #ffffff; 
    font-family: 'Raleway', sans-serif;
    list-style-type: none;
    font-size: 2em;
}

#Experience ul li a{
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
}

#Experience div{
    display: flex;
    flex-direction: column;
    padding-bottom: 64px;
    border-radius: 50px;
    background: #292c2e;
    box-shadow: 20px 20px 60px #232527,
                -20px -20px 60px #2f3335;
}

#Experience ul li a:hover{
    cursor: pointer;
    background: #99aab5;
}

#Experience ul li img{
    width: 12em;
    height: 12em;
    object-fit: contain;
}

#Experience ul li h6{
    padding: 1em;
}

#Experience ul li h2{
    padding-bottom: 1em;
}


#Skills {
    display: flex;
    justify-content: space-evenly;
    background: #99aab5;
    width: 100%;
    height: 100vh;
   
}


#Skills ul li{
    display: flex;
    justify-content: center;
}

#Skills ul{
    list-style: none;
}


#ContactMe {
    display: block;
    background: rgb(255, 208, 0);
    width: 100%;
    height: 100vh;
}

.secciones {
    padding-top: 64px;
}


.carouselContainer{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.carouselSlide{
    display: flex;
    width: 100%;
    height: 100vh;
}

#botonAtras{
    position: absolute;
    top: 50%;
    z-index: 20;
    left: 3%;
    font-size: 4em;
    color: #ffffff;
    opacity: 0.6;
    cursor: pointer;
}
#botonAdelante{
    position: absolute;
    top: 50%;
    z-index: 20;
    right: 3%;
    border: #000000;
    font-size: 4em;
    color: #ffffff;
    opacity: 0.6;
    cursor: pointer;
}



.chart-wrap {
    --chart-width:420px;
    --grid-color:#000000;
    --bar-color:rgb(54, 51, 255);
    --bar-thickness:60px;
    --bar-rounded: 12px;
    --bar-spacing:20px;

    font-family:sans-serif;
    width:var(--chart-width);
}

.chart-wrap.horizontal .grid{
    transform:rotate(-90deg);
}

.chart-wrap.horizontal .bar::after{
    transform: rotate(45deg);
    display: block;
}

.chart-wrap .grid{
    position:relative;
    padding:5px 0 5px 0;
    width:100%;
    border-left:2px solid var(--grid-color);
}

.chart-wrap .grid::before{
    font-size:0.8em;
    font-weight:bold;
    content:'0%';
    position:absolute;
    left:-0.5em;
    top:-1.5em;
}
.chart-wrap .grid::after{
    font-size:0.8em;
    font-weight:bold;
    content:'100%';
    position:absolute;
    right:-1.5em;
    top:-1.5em;
}

.chart-wrap.horizontal .grid::before, .chart-wrap.horizontal .grid::after {
    transform: rotate(90deg);
}

.chart-wrap .bar {
    width: var(--bar-value);
    height:var(--bar-thickness);
    margin:var(--bar-spacing) 0;
    background-color:var(--bar-color);
    border-radius:0 var(--bar-rounded) var(--bar-rounded) 0;
}

.chart-wrap .bar:hover{
    opacity:0.7;
}


.chart-wrap .bar::after{
    content:attr(data-name);
    margin-left:100%;
    padding:10px;
    display:inline-block;
    white-space:nowrap;
}
